/.vscode
/.ipynb_checkpoints
/__pycache__
/Modules/__pycache__
/results*
/vits
/wandb
/POT_Test
/yaml
*.pyc

/Modules/monotonic_align/__pycache__
/Modules/monotonic_align/build
/Modules/monotonic_align/monotonic_align/core.cp39-win_amd64.pyd
/Modules/monotonic_align/core.c

temp.py
*.pickle
Hyper_Parameters_Local.yaml
Modules/Modules_Source.py
Cumsum_Test.png
Cumsum_Test.py
Cumsum_Test.txt
Cumsum_Test.zip
tester.onnx
tester.trt
*.pt